{% extends "base.html" %}

{% block style %}
body{
background-color:white;
background-image: url("/static/minesweeperflag.jpg");
}
{% endblock %}

{% block title %} About {% endblock %}

{% block header %}
<div class = transbox id = "bawx">
<center class = head><h1> About </h1></center>
{% endblock %}

{% block content %}
<p><a href = "{{url_for('home')}}">Back Home</a></p>
<div id = "content">
  <p>Because our application is terrible (or at least I'm terrible), this is also the page you go to after you're done with a game.  We can't send you back to the home page for some reason, and we're still trying to fix this strange bug.</p>
  <p>It's a minesweeper game, but in real life!</p>
  <br>
  <br>
  <h3><p>Instructions<p></h3>
  <p>At the home page, click 'Start Playing!' to begin.</p>
  <p>Once you're at the game screen, enter your guess of the mine's coordinates in the text box.</p>
  <p>The game will tell you whether or not those coordinates have a mine.</p>
</div>
</div>
<script>
document.getElementById("bawx").style.margin = screen.height / 16 + "px " + screen.width / 12 + "px " + screen.height / 16 + "px " + screen.width / 12 + "px";
</script>
{% endblock %}
