{% extends "base.html" %}

{% block style %}
body{
background-color: white;
background-image: url(/static/minesweeperhome.jpg);
}

#game{
background-color: black;
background-image: url("http://fc00.deviantart.net/fs6/f/2005/108/7/8/Minesweeper.gif");
color: white;
margin: 50px;
padding: 0px;
height: 100%;
width: 100%;
}

#ms{
background-color:black;
}

{% endblock %}

{% block title %} Minesweeper {% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block header %}
<div class = transbox id = "bawx">
<center class = head><h1> Find the mines! </h1></center>
{% endblock %}

{% block content %}
<center class = ital>
  Play solo or with friends!
</center>
<br>
</div>
<br>
<div class = transbox id = "bawx2">
<div>
<p><a href = "{{url_for('about')}}">About the game</a>
  <br>
  <br>
  <form method = "POST">
    <p><input type="submit" name="submit" id = "start" value="Start Playing!">
    <input type="submit" name="submit" value="Login">
  </form>
  </p>
</div>
</div>
  <div id = "game" name = "newPage">
    <br>
    <div id = "ms">
      <p><form onsubmit="return getArenaSize();" name="getCoords">
	Enter the size of your arena and click the button to set it.<br>
	Longitude length: <input type="text" name="longitude" value=""><br>
	Latitude length: <input type="text" name="latitude" value=""><br>
	<input type="submit" value="Submit">
      </form>
    </div>
  <script src = "../static/MS.js">
  </script>
  </div>
{% endblock %}
