<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
  </head>
  <body>
    {% if user %}
    <p>
      Logged in as: {{ user[1] }}
    </p>
    {% endif %}
    <p>
      input coordinates: <input id="in" type="text">
    </p>
    <p>
      <form action="" method="POST">
	<input id="submit" type="submit" value="Guess">
	<input id="points" type="hidden" name="points" value="{{ user[3] }}">
    </p>
    </form>
    <p id="out">
      You guessed: _ <br>
      You are incorrect! D:
    </p>
    <p id="location">
    </p>
    <p>
      <a href="/">Back</a>
    </p>
    <script src="../static/test.js"> </script>
  </body>
</html>
